<table class= "table table-bordered" style="color: black;">
    <thead>
        <tr>
            <th colspan="3" class="text-center">
                CARRO DE COMPRAS
            </th>
        </tr>
        <tr>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Suma</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.carro.items %}
            {% for key,value in request.session.carro.items %}
                <tr class="text-center">
                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        <a href="{% url 'carro:agregar' value.insumo_id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'carro:restar' value.insumo_id %}" class="btn btn-sm btn-success">-</a><br/>
                        ${{value.precio}}
                        
                    </td>
                
                </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        No hay insumos agregados
                    </div>
                </td>
            </tr>
        {% endif %}

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                <h6 class="">TOTAL:{{importe_total}}</h6>
                {% if importe_total > 0  %}  
                    <a href="{% url 'Comprar Insumo'  %}">
                        <span class="btn btn-outline-success rounded-pill light-300  right">
                            Comprar 
                            <i class='bx bxs-cart-add'></i>
                        </span>
                    </a>
                {% endif %}
                <a href="{% url 'carro:limpiar'  %}">
                    <span class="btn btn-outline-danger rounded-pill light-300right">
                        Limpiar
                        <i class='bx bxs-cart-add'></i>
                    </span>
                </a>
            </td>
        </tr>
    </tfoot>

</table>