{% extends 'Combi19App/base.html' %}
{% load static %} 
{% load bootstrap %}
{% load poll_extras %}
{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="card partner-wap  py-5 px-5">
                    <i class='display-1 text-white bx bx-user'></i> 
                </div>
                <span class="font-weight-bold pt-5">{{pasajero}}</span>
                <span class="text-black-50">{{pasajero.email}}</span>
            </div>
        </div>
        
            <div class="col-md-7 border-right">
                <form class="form-control col-md-5" method="post" action="#" role="form">{% csrf_token %}
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Cagar informe COVID-19</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Nombre</label><input type="text" name="first_name" id="first_name" class="form-control" placeholder="" disabled value={{pasajero.first_name}}></div>
                            <div class="col-md-6"><label class="labels">Apellido</label><input type="text" name="last_name" id="last_name" class="form-control" placeholder="" disabled value={{pasajero.last_name}}></div>
                        </div>
                        {{form|bootstrap}}
                        <div class="col-md-12 col-12 m-left py-2 text-end">
                            <a href="{% url 'Viajes Chofer' %}">
                                <button class="btn btn-outline-primary profile-button" type="button">Volver</button>
                            </a>
                            <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-5 py-2 radius-5 text-light light-300">Guardar</button>
                            
                        </div>
                        {% for field in form %}
                        <!--Basicamente esto dice que si hay errores, que los muestre-->
                        <p>
                            {% for error in field.errors %}
                                <p style="color: darkred">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %} 
                        {% if form.non_field_errors %}
                            <div style="color: darkred">
                            <p>{{form.non_field_errors}}</p>
                        </div>
                        {% endif %}
                            
                        </div>
                    </div>  
                </form>
            </div>
    </div>
</div>
</div>
 <!-- Bootstrap core JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js "></script>
 <!-- Third party plugin JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>
 <!-- Bootstrap -->
 <script src="{% static 'Combi19App/js/bootstrap.bundle.min.js' %}"></script>
 <!-- Load jQuery require for isotope -->
 <script src="{% static 'Combi19App/js/jquery.min.js' %}"></script>
{% endblock %} 