<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <!-- Cargo nuestra carpeta de static para que traiga los archivos que tiene adentro-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrate en COMBI-19</title>

    <link rel="icon" type="image/x-icon" href="{% static 'users/img/logo_is.png' %}" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registrate</h2>
                        <form method="POST" class="register-form" id="register-form">{% csrf_token %}

                            <!--Nombre del Usuario -->
                            <div class="form-group">
                                <label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="first_name" id="first_name" placeholder="Tu nombre" required autofocus/>
                            </div>
                            <!--Apellido del Usuario -->
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="last_name" id="last_name" placeholder="Tu apellido" required/>
                            </div>
                            <!-- Email del Usuario -->
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="inputEmail" placeholder="Email" required>
                            </div>
                            <!-- DNI del Usuario -->
                            <div class="form-group">
                                <label for="dni"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="number" name="dni" id="inputDni" placeholder="DNI" required>
                            </div>
                            <!-- Fecha de Nacimiento del Usuario -->
                            <div class="form-group">
                                <label for="date_of_birth"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="date" name="date_of_birth" id="date_of_birth" placeholder="Tu fecha de nacimiento" required />
                            </div>
                            <!-- Contraseña del Usuario -->
                            <div class="form-group">
                                <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password1" id="password1" placeholder="Contraseña" required>
                            </div>
                            <!-- Repetir Contraseña -->
                            <div class="form-group">
                                <label for="password2"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña" required>
                            </div>

                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div> -->

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Registro" />
                            </div>



                            {% for field in registration_form %}
                            <!--Basicamente esto dice que si hay errores, que los muestre-->
                            <p>
                                {% for error in field.errors %}
                                <p style="color: darkred">{{ error }}</p>
                                {% endfor %}
                            </p>
                            {% endfor %} {% if registration_form.non_field_errors %}
                            <div style="color: darkred">
                                <p>{{registration_form.non_field_errors}}</p>
                            </div>

                            {% endif %}

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'users/img/logo_is.png' %}" alt="Registro Imagen"></figure>
                        <a href="{% url 'Login' %}" class="signup-image-link">Ya tengo cuenta</a>


                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>