{% extends 'Combi19App/base.html' %} 
{% load static %} 
{% load bootstrap %}
{% load poll_extras %}
{% block content %}

<div class="container">
    <div class="py-5 text-center ">
      <img class="d-block mx-auto mb-4" src="{% static 'Combi19App/img/logo_is.png' %}" alt="" width="72" height="72">
      <h2>Comprar pasaje</h2>
      <p class="lead">Estas a minutos de confirmar tu nueva experiencia! </p>
    </div>
    <div class="row mx-auto">
      
      <div class="col-md-8 mx-auto">
        <h4 class="mb-3">Usuario</h4>
        <form class=" pb-5" id="formulario" method="POST"> {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder=""  readonly value="{{usuario.firstName}}">
              
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" id="lastName" placeholder=""  readonly value="{{usuario.last_name}}">
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" readonly value="{{usuario.email}}"">
            </div>
          </div>
          <hr class="mb-4">


          <h4 class="mb-3">Viaje</h4>
          
            <div  class="card bg-light border-0 shadow-lg overflow-hidden">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div href="#" class="card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                                <img class="card-img" src="{{viaje.ruta.destino.imagen.url}}" alt="">
                                
                            </div>
                        </div>
                        <div class=" col-md-4 px-3">
                            <h5 class="h5 ">{{viaje.ruta.destino}}, <span class="text-muted">{{viaje.ruta.destino.provincia}}</span></h2>
                            <p class="m-0 p-0 text-muted">Desde {{viaje.ruta.origen}} <i class='p-0 bx bx-map'></i></p> 
                            <br>
                            <p class="m-0 p-0 text-muted">{{viaje.fecha|date:"d/m/Y"  }} </p> 
                            <p class="m-0 p-0 text-muted">{{viaje.fecha | time}} </p> 
                            <label class="text-muted"for='asientos_ocupados'>Pasajes</label>
                            <input type="number" name='asientos_ocupados' id='asientos_ocupados' min="1" value="1" max="{{viaje.combi.capacidad | restar:viaje.asientos_ocupados}}" >
                            
                        </div>
                        <div class="col-md-4 px-3 d-flex  flex-column justify-content-end">
                            <p class=" h5 text-end" id="total-precio">{{viaje.precio}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
          <hr class="mb-4">
          <div id= "error"></div>
          <button class="btn btn-primary btn-lg btn-block " id="boton-listo" type="button">Listo</button>
          <div class="text-end" style="display:none;" id="final-form">
            <h4 class="mb-3 " id="mostrar">Total: </h4>          
            <button class="btn btn-primary btn-lg btn-block"  type="submit">Vender pasaje</button>
          </div>
        </form>
      </div>
    </div>
</div>



<!-- Bootstrap core JS-->
<script type="text/javascript">
    const form = document.getElementById("formulario");
    const elementoError = document.getElementById("error");
    const boton = document.getElementById("boton-listo");
    var precio = parseInt({{ viaje.precio }});

    
    boton.addEventListener("click", (e) => {
      let mensajes = []
      var cantidad = parseInt(document.getElementById('asientos_ocupados').value,10)
      

      if (cantidad === '' || document.getElementById('asientos_ocupados').getAttribute("min") > cantidad  ||  cantidad > document.getElementById('asientos_ocupados').getAttribute("max")) {
          mensajes.push("La cantidad de pasajes es inválida!")
      }
      
      if (mensajes.length > 0) {
          e.preventDefault()
          elementoError.innerText = mensajes.join(', ')
      }
      else{
        document.getElementById('asientos_ocupados').setAttribute("readonly", true)
        elementoError.innerText = ''
        showDiv()
        var total = document.getElementById("mostrar")
        total.innerText = 'Total: $' + (cantidad * precio )
    }
})
  function showDiv(precio) {
    document.getElementById('final-form').style.display = "block";
    document.getElementById("boton-listo").style.display = "none"
  }
    
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js "></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>
<!-- Bootstrap -->
<script src="{% static 'Combi19App/js/bootstrap.bundle.min.js' %}"></script>
<!-- Load jQuery require for isotope -->
<script src="{% static 'Combi19App/js/jquery.min.js' %}"></script>


{% endblock %}