{% extends 'Combi19App/base.html' %}
{% load static %}
{% block title %}Portada{% endblock %}

{% block content %}
    <!--Imagen encabezado-->
    <div class="position-relative overflow-hidden p-md-5 m-md-0 text-center bg-light imagenRuta" style="background-image: url({% static 'Combi19App/img/ruta.jpg' %});">
        <!-- <img class=" position-absolute img-fluid" src="{% static 'Combi19App/img/ruta.jpg' %}" alt="" width="100%"> -->
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal encabezado">Escapate con COMBI-19</h1>
          <p class="lead font-weight-normal "><b>Estas a solo un par de clicks de distancia del viaje que necesitabas.</b></p>
          <a class="btn btn-dark" href="#">Empezá tu busqueda</a>
        </div>
        
      </div>

{% endblock %}
