<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!--idioma-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--nombre en barra-->
    <title>Combi-19</title>
    <!--icono en barra-->
    <link rel="icon" type="image/x-icon" href="{% static 'Combi19App/img/logo_is.png' %}" />
    <!--acceso a fuentes-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!--enlace con CSS-->
    <link href="{% static 'Combi19App/css/styles.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <img src="{% static 'Combi19App/img/logo_is.png' %}" width="60"></img>
            <a class="navbar-brand" href="{% url 'Login' %}"">Iniciar sesión</a>
        </div>
    </nav>
    <!-- contenido-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img src="{% static 'Combi19App/img/principal.jpg' %}" width="1200"></img>
            <br>
            <h1 class="masthead-heading text-uppercase mb-0">Combi-19</h1>
            <!-- Icon Divider-->
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Compra tu pasaje sin moverte de tu hogar</p>
            <br>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold color-boton text-white rounded" type="button">
                    ¿Cómo comprar?
                </button>
            <br>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold color-boton text-white rounded" type="button">
                    <a href="{% url 'Register' %}">Registrarse</a>
                </button>
        </div>
    </header>

    <!-- quienes somos-->
    <section class="page-section bg- primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">¿Quienes somos?</h2>
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">COMBI-19 es una plataforma de venta de pasajes online en Argentina. Ofrecemos la comodidad de comprar desde tu telefono, computadora o tablet sin necesidad de ir hasta nuestro local.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Contamos con multiples opciones de destinos, rutas y combis. Solo tenes que registrarte y elegir a dónde querés ir!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Ubicación</h4>
                    <p class="lead mb-0">
                        La Plata, Buenos Aires
                        <br /> Calle 49 373
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Buscanos en la web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Contacto</h4>
                    <p class="lead mb-0">
                        Mail:
                        <br>combi-19@gmail.com
                    </p>
                </div>
                <!-- Footer About Text-->
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="{% static 'Combi19App/assets/mail/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'Combi19App/assets/mail/contact_me.js' %}"></script>
    <!-- Core theme JS-->

</body>

</html>