{% extends 'Combi19App/base.html' %} 
{% load static %} 
{% block content %}


<div id="work_banner" class="banner-wrapper bg-light w-100 py-5" style="background-image: url({% static 'Combi19App/img/ruta.jpg' %}); ">

    <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h1 display-3 pb-5 semi-bold-600 typo-space-line-center">Buscá tu próximo destino</h1>


        </div>
    </div>
</div>


<!-- Start Recent Work -->
<section class="py-5 ">
    <div class="container">
        <div class="row gy-5 g-lg-5 ">
            <div>
                <form class="contact-form row" method="post" action="#" role="form">
                    <div class="col-lg-4 ">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="inputname" placeholder="Name">
                            <label for="floatingname light-300">Origen</label>
                        </div>
                    </div>
                    <!-- End Input Name -->

                    <div class="col-lg-4 mb-4">
                        <div class="form-floating">
                            <input type="text" class="form-control form-control-lg light-300" id="floatingemail" name="inputemail" placeholder="Email">
                            <label for="floatingemail light-300">Destino</label>
                        </div>
                    </div>
                    <!-- End Input Email -->
                    <div class="col-lg-4 mb-4">
                        <div class="form-floating">
                            <input type="date" class="form-control form-control-lg light-300" id="floatingname" name="inputname" placeholder="Name">
                            <label for="floatingname light-300">Fecha</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 m-auto text-end">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Buscar viaje</button>
                    </div>
            </div>
            <!-- End Input Name -->
            </form>
        </div>
</section>
<section class="py-5 mb-5">
    <div class="container">
        <div class="row gy-5 g-lg-5 mb-4"> 
            {%  for v in viajes %}
                <div class="col-xl-6 col-md-6 col-sm-6">
                    <div  class="card bg-light border-0 shadow-lg overflow-hidden">
                        <div class="card-header ">
                            <i class='bx bx-bus'></i>
                            <span class="semi-bold-600">De {{v.ruta.origen}} a {{v.ruta.destino}}</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="semi-bold-600">Origen {{v.ruta.origen}}</p>
                                </div>
                                
                                <div class="col-md-6 text-end">
                                    <p class="semi-bold-600">Destino {{v.ruta.destino}}</p>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-fluid rounded w-100" src="{{v.ruta.origen.imagen.url}}" alt="Card image">
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title m-2"></h5>
                                    
                                </div>
                                <div class="col-md-4">
                                    <img class="img-fluid rounded w-100" src="{{v.ruta.destino.imagen.url}}" alt="Card image">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer light-300">
                            {{v.fecha}}
                            <a href="#" class="btn btn-primary text-right">Viajar</a>
                        </div>
                    </div>
                </div><!-- End Recent Work -->
            {%  endfor %}
        </div>
        
    </div>
</section>




<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js "></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>
<!-- Bootstrap -->
<script src="{% static 'Combi19App/js/bootstrap.bundle.min.js' %}"></script>
<!-- Load jQuery require for isotope -->
<script src="{% static 'Combi19App/js/jquery.min.js' %}"></script>
{% endblock %}
