{% extends 'Combi19App/base.html' %}

{% block title %}Portada{% endblock %}

{% block content %}
    <h1>Holis, probando parte de pasajes</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Cumque quam odio, ipsa necessitatibus fuga eius pariatur. 
    Aperiam quis animi, sunt nobis ut maxime, 
    saepe ea neque autem corrupti qui necessitatibus vel eos asperiores, 
    expedita eveniet velit laboriosam libero mollitia dolor quam ipsa provident rerum. 
    Mollitia nisi sint quaerat beatae minima, rerum perferendis vero fugiat recusandae 
    accusamus asperiores reprehenderit optio ad voluptas laboriosam fugit facere quam 
    eligendi quasi dolorum. Labore quibusdam necessitatibus pariatur quo ut voluptates 
    dolores, distinctio mollitia voluptatem nesciunt accusantium deserunt sequi blanditiis 
    modi, nihil corrupti, recusandae dolorem quaerat dolor dicta fuga exercitationem delectus 
    eveniet. Vitae labore dolorum voluptatibus non fuga enim perspiciatis veniam maiores 
    nostrum debitis aliquam sed ratione aut impedit consequuntur delectus, 
    ullam aperiam possimus vero quae!</p>
{% endblock %}